server {
    listen 80;
    server_name weatherapi.example.com *ip*;
    server_tokens off;
    charset utf-8;

    location /static {
        gzip on;
        gzip_buffers 8 256k;

        alias /ch05-realistic-api/static;
        expires 365d;
    }
    location / {
        try_files $uri @yourapplication;
    }
    location @yourapplication {
        gzip on;
        gzip_buffers 8 256;

        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Protocol $scheme;
    }
}